# OS
# ===========
.DS_Store
ehthumbs.db
Icon?
Thumbs.db

# compiled output
/music-site/dist
/music-site/tmp
/music-site/out-tsc

# dependencies
/music-site/node_modules

# IDEs and editors
/music-site/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/music-site/.sass-cache
/music-site/connect.lock
/music-site/coverage
/music-site/libpeerconnection.log
npm-debug.log
testem.log
/music-site/typings

# e2e
/music-site/e2e/*.js
/music-site/e2e/*.map

# System Files
.DS_Store
Thumbs.db

# General
# =======
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.tmp
*.bak
*.swp
*.swo
logs/
build/

# Sublime editor
# ==============
.sublime-project
*.sublime-project
*.sublime-workspace

# Eclipse project files
# =====================
.project
.settings/
.*.md.html
.metadata
*~.nib
local.properties

# IntelliJ
# ========
*.iml

# Cloud9 IDE
# =========
.c9/
data/
mongod

# Visual Studio
# =========
*.suo
*.ntvs*
*.njsproj
*.sln
