<form #form="ngForm" *ngFor="let content of keys()">
    <div class='form-group'>
        <div class="row" [ngSwitch]="config.fields[content].type">
            <input  *ngSwitchCase="'input'" 
             class="column {{config.fields[content].style}}" 
             id="{{config.fields[content].id}}"
             name="config.fields[content].id"
             type="{{config.fields[content].field}}" 
             placeholder="{{config.fields[content].placeholder}}"
             [(ngModel)]="config.fields[content].value"
             >
             <button *ngSwitchCase="'button'" 
             class='{{config.fields[content].style}} button column' 
             (click)="finish()">{{config.fields[content].text}}</button>
             <div id="{{config.fields[content].id}}_err" *ngIf="config.fields[content].error != ''"
             class="alert alert-danger">
                 {{config.fields[content].error}}
             </div>
             
        </div>
    </div>

    
</form>

<div id="reg_success" class="alert alert-primary" *ngIf="config.fields['username'].value != ''" hidden="true;">
    User created!
</div>