<h1 class="mt-4" style="text-align:center;" >Music Graphing</h1>

<nav>
	<div class="container">
		<div class="row justify-content-center">
			<a class="mx-2" routerLink="/" routerLinkActivate="activate">Graph</a>
		    <a class="mx-2" routerLink="/login" routerLinkActivate="activate">Login</a>
		    <a class="mx-1" routerLink="/register" routerLinkActivate="activate">Register</a>
		    <a class="mx-1" routerLink="/profile" routerLinkActivate="activate">Profile</a>
	    </div> 
	</div>
    <div class="my-4"></div>
    <router-outlet></router-outlet>
</nav>
