<!--The content below is only a placeholder and can be replaced.-->
<div>
    <h4 style="text-align:center">
        Genre Graph
    </h4>

    <div  id="cy" style="width:750px; height:450px; border:1px solid">
    </div>

    <!--<p>BANDS:</p>
    <li *ngFor="let band of bands">
        {{ band }}
    </li>-->

    <div class="container mt-3 pb-5">
        <div class="col mx-auto">
        <div class="row justify-content-center">
        <p>Add a new band:</p>
        </div>
        <div class="row justify-content-center">
        <p>{{typed}}</p>
        <button class="button" style="outline:0;" (click)="myFunction(typingBox.value)">Add</button>
        <input #typingBox (keyup.enter)="onKey(typingBox.value, false)" (blur)="onKey(event)" placeholder="Band Name">
        </div>
        </div>
    </div>

</div>
