<div class="container col-8 col-xl-7">
	<div class="card">
	    <div class="card-header">
        	{{title}}
    	</div>
	    <div class="card-body">
		    <input #user (keyup.enter)="onKey(user.value, email.value, pass.value)" (blur)="onKey(user.value, email.value, pass.value)" placeholder="Username">
		    <p>{{username}}</p>
		    <h4>{{usernameError}}</h4>

	    	<input #pass (keyup.enter)="onKey(user.value, email.value, pass.value)" (blur)="onKey(user.value, email.value, pass.value)" placeholder="Password" type="password">
	        <p>{{password}}</p>
	        <h4>{{passwordError}}</h4>

	    	<button style="cursor:pointer" class="btn btn-success btn-sm" (click)="loginSubmit()">Login</button>
	    </div>
  	</div>
</div>
